<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mikan</title>
</head>
<body>
    <h1><%= title %></h1>
    <a href='/login'>login</a>
    <a href='/blog'>blogs</a>
    <a href="/mikan">Go to Mikan Page</a>
</body>
</html>