<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mikan</title>
</head>
<body>
    <div></div> <!-- 请添加 div 的类名，例如 <div class="container"> -->
    <h1><%= title %></h1> <!-- 使用 EJS 的 <%= %> 输出 title 变量 -->
    <a href='/login'>login</a>
    <a href='/blogs'>blogs</a>
</body>
</html>
